.DS_Store

main/node_modules
main/package-lock.json

react-hash/node_modules
react-hash/package-lock.json

react-history/node_modules
react-history/package-lock.json

vue-hash/node_modules
vue-hash/package-lock.json

vue-history/node_modules
vue-history/package-lock.json

/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
